<style>
    .header {
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 5px;
        padding-top: 5px;
    }

    .scroll {
        overflow-x: hidden;
        overflow-y: visible;
    }

    .test {
        max-height: 400px;
    }
</style>
<div ng-controller="NotificationsController">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="sk-spinner sk-spinner-wave" ng-show="loadingNotifications">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
            <div ng-hide="loadingNotifications">
                <h2 class="header my-font center-text padding-10 darkgreen">
                    Notifications
                </h2>

                <div class="test scroll custom-scroll-bar padding-right-10px">

                    <div ng-repeat="notification in notifications" class="col-md-12 panel panel-body">

                        <div class="col-md-10 padding-top-20px timesnewroman no-decoration message-text">
                            <p class="font-size-16">{{notification.Notification.notification}}</p>
                            <span class="small pull-left color-lightgrey">{{notification.Notification.created}}</span>

                        </div>
                        <div class="col-md-2">
                            <a class="btn"
                               ng-click="markRead(notification,$index)">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </a>
                        </div>

                    </div>

                </div>
                <div class="col-md-12 panel panel-body" ng-show="notifications.length>0">

                    <div class="col-md-10 padding-top-20px timesnewroman no-decoration message-text">
                        <p class="font-size-16"><b>Read All ?</b></p>

                    </div>
                    <div class="col-md-2">
                        <a class="btn"
                           ng-click="markAll()">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </a>
                    </div>

                </div>

                <div class="form-horizontal">

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div>
</div>